
<link rel="stylesheet" href="/css/header.css">

<div class="header-menu">
    <nav>
        <ul>
            <li>Discovery</li>
            <li>My Favourites</li>
            <li>My Library</li>
        </ul>
        <div class="search-section">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="serach your favt music">
        </div>
        <div class="user-profile">
            <img src="/images/AvasPP.png" alt="User Photo">
        </div>
    </nav>
</div>