
<link rel="stylesheet" href="/css/header.css">

<div class="header-menu">
    <nav>
        <ul>
            <li> <a href="/">Explore</a></li>
            <li> <a href="">My Favourite</a></li>
            <li> <a href="">My Library</a></li>
            <li> <a href="">Blog</a></li>
        </ul>
        <div class="search-section">
            <input type="text" placeholder="serach your favt music">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="user-profile">
            <a href="/users/profile"><img src="/images/AvasPP.png" alt="User Photo"></a>
        </div>
    </nav>
</div>