
<link rel="stylesheet" href="/css/favourite.css">

<div class="menu_side">
    <h1> Your Favourite Songs</h1>
    <div class="menu_song">
        <li class="songItem">
            <span>01</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>02</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>03</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>03</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>03</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
    </div>
</div>

<div class="popular-artist">
    <div class="artist-header">
            <h4>Favourite Artist</h4>
            <div class="scroll-btns">
              <i class="fa-solid fa-arrow-left"></i>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
    </div>
      <div class="artist-container">
             <li class="artist-Item">
                 <img src="/images/justin-bieber.jpg" alt="justin-bieber">
                 <h5>justin-bieber</h5>
             </li>
           
      </div>
  </div>
  