
<link rel="stylesheet" href="/css/favourite.css">

<div class="menu_side">
    <div class="menu_song">
        <li class="songItem">
            <span>01</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>02</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
        <li class="songItem">
            <span>03</span>
            <img src="/images/1.jpg" alt="Alan">
            <h5>
                On My Way
                <div class="subtitle">Alan Walker</div>
            </h5>
            <i class="playListPlay fa-solid fa-circle-play" id="1"></i>
        </li>
    </div>
</div>