
<link rel="stylesheet" href="/css/home.css">

<div class="top-trending-section">
      <video autoplay loop muted plays-inline class="back-video">
              <source src="/videos/AdVideo_header.mp4" type="video/mp4">
      </video>
      <h1 class="trending-indicatior">Trending No. 1 in India</h1>
      <div class="feature-box">
          <h1> Alen Walker - Fade</h1>
        
          <p> Top 1 Hit Song </p>
          <div class="play-add-Favourite">
             <button>Play</button>
             <button>Add To Favourite</button>
        </div>

      </div>
    
</div>

<div class="popular-songs-section">
  <div class="title-section">
      <h4>Popular Song</h4>
      <div class="scroll-btns">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>

  </div>
     <div class="popular-song-container">
         <li class="songItem">
               <div class="song-action">
                 <img src="/images/1.jpg" alt="Song Poster">
                 <i class="fa-solid fa-circle-play"></i>
               </div>
               <h5>On my Way
                   <br>
                   <div class="subtitle">Alan Walker</div>
               </h5>
         </li>
    <li class="songItem">
          <div class="song-action">
            <img src="/images/1.jpg" alt="Song Poster">
            <i class="fa-solid fa-circle-play"></i>
          </div>
          <h5>On my Way
              <br>
              <div class="subtitle">Alan Walker</div>
          </h5>
     </li>
     <li class="songItem">
      <div class="song-action">
        <img src="/images/1.jpg" alt="Song Poster">
        <i class="fa-solid fa-circle-play"></i>
      </div>
      <h5>On my Way
          <br>
          <div class="subtitle">Alan Walker</div>
      </h5>
</li>
<li class="songItem">
  <div class="song-action">
    <img src="/images/1.jpg" alt="Song Poster">
    <i class="fa-solid fa-circle-play"></i>
  </div>
  <h5>On my Way
      <br>
      <div class="subtitle">Alan Walker</div>
  </h5>
</li>
     </div>
     
</div>

<div class="popular-artist">
  <div class="artist-header">
          <h4>Popular Artist</h4>
          <div class="scroll-btns">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
  </div>
    <div class="artist-container">
           <li class="artist-Item">
               <img src="/images/justin-bieber.jpg" alt="justin-bieber">
               <h5>justin-bieber</h5>
           </li>
           <li class="artist-Item">
            <img src="/images/justin-bieber.jpg" alt="justin-bieber">
            <h5>justin-bieber</h5>
        </li>
        <li class="artist-Item">
          <img src="/images/justin-bieber.jpg" alt="justin-bieber">
          <h5>justin-bieber</h5>
      </li>
      <li class="artist-Item">
        <img src="/images/justin-bieber.jpg" alt="justin-bieber">
        <h5>justin-bieber</h5>
    </li>
    </div>
</div>

<!-- Login Form Creation-->

<div class="overlay-container">
  <div class="item">
        <div class="text-item">
          <h2> Make Your Mind Free</h2>
          <p>Listen your Favourite Beats</p>
         <div class="social-icon">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
         </div>
        </div>
  </div>
   <div class="login-section">
         <div class="form-box login">
               <form action="">
                <h2>Sign In</h2>
                <div class="input-box">
                  <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                  <input type="email" required>
                  <label for="">Email</label>
                </div>
                <div class="input-box">
                  <span class="icon"><i class="fa-solid fa-lock"></i></span>
                  <input type="password" required>
                  <label for="">Password</label>
                </div>
                <div class="remember-password">
                   <label for=""><input type="checkbox">Remember Me</label>
                   <a href="">Forget Password</a>
                </div>
                <button class="login-btn">Login</button>

                <div class="create-account">
                    <p>Create A New Account? <a href="#" class="sign-up-link">Sign Up</a></p>
                </div>
               </form>
         </div>
         <div class="form-box sign-up">
          <form action="">
           <h2>Sign Up</h2>
           <div class="input-box">
            <span class="icon"><i class="fa-solid fa-user"></i></span>
            <input type="text" required>
            <label for="">Username</label>
          </div>
           <div class="input-box">
             <span class="icon"><i class="fa-solid fa-envelope"></i></span>
             <input type="email" required>
             <label for="">Email</label>
           </div>
           <div class="input-box">
             <span class="icon"><i class="fa-solid fa-lock"></i></span>
             <input type="password" required>
             <label for="">Password</label>
           </div>
           <div class="remember-password">
              <label for=""><input type="checkbox">I agree with this stat ment</label>
              <a href="">Forget Password</a>
           </div>
           <button class="login-btn">Sign Up</button>

           <div class="create-account">
               <p>Already Have An Account? <a href="#" class="login-link">Login</a></p>
           </div>
          </form>
    </div>
   </div>


</div>




<script src="/js/home.js"></script>