
<link rel="stylesheet" href="/css/home.css">

<div class="top-trending-section">
      <video autoplay loop muted plays-inline class="back-video">
              <source src="/videos/AdVideo_header.mp4" type="video/mp4">
      </video>
      <h1 class="trending-indicatior">Trending No. 1 in India</h1>
      <div class="feature-box">
          <h1> Alen Walker - Fade</h1>
        
          <p> Top 1 Hit Song </p>
          <div class="play-add-Favourite">
             <button>Play</button>
             <button>Add To Favourite</button>
        </div>

      </div>
    
</div>

<div class="popular-songs-section">
  <div class="title-section">
      <h4>Popular Song</h4>
      <div class="scroll-btns">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>

  </div>
     <div class="popular-song-container">
         <li class="songItem">
               <div class="song-action">
                 <img src="/images/1.jpg" alt="Song Poster">
                 <i class="fa-solid fa-circle-play"></i>
               </div>
               <h5>On my Way
                   <br>
                   <div class="subtitle">Alan Walker</div>
               </h5>
         </li>
    <li class="songItem">
          <div class="song-action">
            <img src="/images/1.jpg" alt="Song Poster">
            <i class="fa-solid fa-circle-play"></i>
          </div>
          <h5>On my Way
              <br>
              <div class="subtitle">Alan Walker</div>
          </h5>
     </li>
     <li class="songItem">
      <div class="song-action">
        <img src="/images/1.jpg" alt="Song Poster">
        <i class="fa-solid fa-circle-play"></i>
      </div>
      <h5>On my Way
          <br>
          <div class="subtitle">Alan Walker</div>
      </h5>
</li>
<li class="songItem">
  <div class="song-action">
    <img src="/images/1.jpg" alt="Song Poster">
    <i class="fa-solid fa-circle-play"></i>
  </div>
  <h5>On my Way
      <br>
      <div class="subtitle">Alan Walker</div>
  </h5>
</li>
     </div>
     
</div>

<div class="popular-artist">
  <div class="artist-header">
          <h4>Popular Artist</h4>
          <div class="scroll-btns">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
  </div>
    <div class="artist-container">
           <li class="artist-Item">
               <img src="/images/justin-bieber.jpg" alt="justin-bieber">
               <h5>justin-bieber</h5>
           </li>
           <li class="artist-Item">
            <img src="/images/justin-bieber.jpg" alt="justin-bieber">
            <h5>justin-bieber</h5>
        </li>
        <li class="artist-Item">
          <img src="/images/justin-bieber.jpg" alt="justin-bieber">
          <h5>justin-bieber</h5>
      </li>
      <li class="artist-Item">
        <img src="/images/justin-bieber.jpg" alt="justin-bieber">
        <h5>justin-bieber</h5>
    </li>
    </div>
</div>




<script src="/js/home.js"></script>