
<link rel="stylesheet" href="/css/profile.css">

<form action=""  enctype="multipart/form-data" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="your name" value="Avas" required>
    <label for="email">Email: </label>
    <input type="text" name="email" placeholder="your email" value="avasbrahma@gmail.com" required>

    <label for="profile-picture">Profile Picture: </label>
    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="Update">

    <a href="/users/sign-in">Sign Out</a>
</form>