
/*  Header Nav Menu Styling  */

.header-menu{
    width: 100%;
    /* background:rgb(244, 137, 250) ; */
    z-index: 2;
    /* border: 2px solid black; */
    right: 0;
    left: 0;
    background-color: #fedafb;
}

.header-menu nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-menu nav ul{
    display: flex;
}
/*  Nav bar menus text styling  */
.header-menu nav ul li{
    position: relative;
    list-style-type: none;
    margin-right: 25px;
    cursor: pointer;
    
}
.header-menu nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.header-menu nav ul li a:hover{
    color: #ffffff;
}

/* Nav Bar Search Input Styling */

.header-menu nav .search-section{
    position: relative;
    width: 40%;
    padding: 1px 8px;
    border-radius: 20px;
    color: #000000;
    border: 2px solid black;
    display: flex;
}

.header-menu nav .search-section i{
    font-size: 15px;
    padding: 3px 0px 0px 10px;
    margin: auto;
    right: 0;
    align-items: end;
    align-content: end;
    cursor: pointer;
    
}

.header-menu nav .search-section input{
    background: none;
    outline: none;
    border: none;
    color: #fca3a3;
    font-size: 15px;
    width: 100%;

}

/* Nav Bar User Profile Styling  */

.header-menu nav .user-profile{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.header-menu nav .user-profile img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #1a1919;
}