
.top-trending-section{
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 20px;
    background: rgb(0, 133, 159);
}

.top-trending-section .back-video{
     position: absolute;
      border: 2px solid black;
      width: 100%;
      height: 320px;
      margin: auto;
      top: 0;
      bottom: 0;
}

video{
    object-fit: fill;
}

.feature-box{  
  position: absolute;
  bottom: 0;   
  margin: 7px 5px;
}
.top-trending-section .feature-box h1{
    font-size: 25px;
    font-weight: 600;
}

.trending-indicatior{
    position: absolute;
    right: 0;
    font-size: 18px;
    margin: auto;
    float: right;
    color: rgb(241, 101, 101);
    cursor: default;
}
.top-trending-section .feature-box p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(9, 9, 9);
    margin: 5px;
}
.top-trending-section .play-add-Favourite{
    margin-top: 15px;
}

.top-trending-section .play-add-Favourite button{
    width: 130px;
    height: 30px;
    border: 2px solid rgb(1, 71, 103);
    outline: none;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    cursor: pointer;  
}

.popular-songs-section{
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    margin: auto;
    margin-top: 15px;
}
.popular-songs-section .title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-songs-section .title-section .scroll-btns{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s linear;
}
.popular-songs-section .title-section .scroll-btns:hover{
    color: rgb(0, 0, 0);
}

.popular-songs-section .popular-song-container{
    width: 100%;
    height: 160px;
    margin-top: 2px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: #feeeff;
}

.popular-songs-section .popular-song-container::-webkit-scrollbar{
    display: none;
}

.popular-songs-section .popular-song-container li{
    margin-top: 4px;
    min-width: 120px;
    height: 150px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
    background-color: black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.popular-songs-section .popular-song-container li:hover{
   
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.popular-songs-section .popular-song-container li .song-action{
    position: relative;
    width: 120px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-songs-section .popular-song-container li .song-action img{
    width: 100%;
    height: 100%;
}
.popular-songs-section .popular-song-container li .song-action i{
     position: absolute;
     font-size: 20px;
     cursor: pointer;
     transition: .3s linear;
     opacity: 0;
}

.popular-songs-section .popular-song-container li .song-action:hover i{
       opacity: 1;
}

.popular-songs-section .popular-song-container li .song-action .addToFvt{
    margin: auto;   
    color: #1a1919;
    top: 0;
    right: 0;
    margin: 2px 3px;
    font-size: 30px;
    cursor: pointer;
       
}
.popular-songs-section .popular-song-container li h5{
    margin: auto;
    padding: 2px 21px;
    align-items: center;
    font-size: 12px;
    right: 0;
    color: #ffffff;
    background: #000000;
}

.popular-songs-section .popular-song-container li h5 .subtitle{
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

/* Popular Artist Section Stylyiing */

.popular-artist{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}

.popular-artist .artist-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-artist .artist-header .scroll-btns{
    color: rgb(80, 76, 76);
    cursor: pointer;
    transition: .3s linear;
}
.popular-artist .artist-header .scroll-btns:hover{
    color: rgb(0, 0, 0);
}
.popular-artist .artist-container{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    

}
.popular-artist .artist-container::-webkit-scrollbar{
    display: none;
}

.popular-artist .artist-container li{
    list-style-type: none;
    position: relative;
    min-width: 120px;
    height: 120px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 8px #1a1919;
    background: rgb(0, 0, 0);
}

.popular-artist .artist-container li img{
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    align-content: center;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 0.2rem;
}

.popular-artist .artist-container li h5{
    margin-top: 6rem;
    margin-bottom: auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;

}
